*{

}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1c1c1c;
}
#titulo{
    margin-bottom: 500px;
    color: white;
    margin-left: 110px;
}
.input_text{
    margin-bottom: 350px;
   position: absolute;
}
.input_text input{
    outline: none;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    padding: 5px 8px;
    font-size: 13px;
    transition: var(--transitionDuration);
}
.input_text span{
    color: white;
    padding: 0 3px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    z-index: -1;
    font-size: 13px;
    transition: var(--transitionDuration);
}
.input_text input:focus,
.input_text input:valid{
    border: 1px solid #000;
}
.input_text input:focus ~ span,
.input_text input:valid ~ span{
    color: #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    font-size: 8px;
    top: 0;
    z-index: 1;
}
.input__text{
    margin-bottom: 250px;
   position: absolute;
}
.input__text input{
    outline: none;
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    padding: 5px 8px;
    font-size: 13px;
    transition: var(--transitionDuration);
}
.input__text span{
    color: white;
    padding: 0 3px;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    z-index: -1;
    font-size: 13px;
    transition: var(--transitionDuration);
}
.input__text input:focus,
.input__text input:valid{
    border: 1px solid #000;
}
.input__text input:focus ~ span,
.input__text input:valid ~ span{
    color: #000;
   
    font-size: 8px;
    top: 0;
    z-index: 1;
}
.botaozinho{
    margin-bottom: 150px;
    border-radius: 10px;
    margin-right: 50px;
}
